body {
    background-color: #000;
    margin: 100px 0 0 0;
    padding: 0px;
}
img {
    border: 0px;
}
div#shell {
    margin: auto;
    position:relative;
    height: 540px;
    width: 700px;
}

div#shell>div {
/*    border: 3px solid cyan;*/
    display:inline-block;
}

/*image item*/
div#shell div>div {
/*    border: 3px solid grey;*/
    display: inline-block;
    vertical-align: top;
}

div#shell>div#thumbs {
    display: block;
/*    border: 1px solid orange;*/
}
/*gallery title*/
div#shell div h2{
    display: block;
    font-size:35px;
    background-color: white;
    bottom: 0px;
    position: absolute;
    opacity: 0.7;
    z-index: 2;
}
/*gallery count*/
div#shell div h3{
    font-size: 35px;
    background-color: transparent;
    color: #ccc;
    opacity: 0.7;
    bottom: 0px;
    right: 0px;
    position: absolute;
    padding-top:50px;
    margin: 0;
    display: block;
    z-index: 1;
}

/*Picture Title*/
div#shell div span {
/*    border: 1px solid blue;*/
    display: block;
    text-align: center;
}

/*div.index {
    overflow: hidden;
    width: 133px;
}
*/
/*Position the Index Pictures a bit more centered.*/
div.index img {position: relative;
/*    left: -50px;
    top: -30px;
*/
}

div#shell div.index span, /*We want to hide the picture title when its the gallery thumb*/
.hide {
    visibility: hidden !important;
    display: none !important;
}

/*Tag Styling*/
div#shell div.tag {
    border: 20px solid #111;
    overflow:hidden;
    position:absolute;
}

div#shell div.tag:hover {
    border-color: #333;
}

div#night, div#israel,
div#montreal, div#lighthouse {
    height: 200px;
    width: 150px;
}

div#fireworks {
    height: 500px;
    width: 150px;
    top: 0px;
}

div#fireworks img {
    border: 0px;
    min-height:500px;
    min-width:150px;
}

div#lighthouse {
    left: 200px;
    top:250px;
    height:250px;
}
div#lighthouse img {
    min-height: 250px;
    min-width: 150px;
}

div#montreal {
    left: 200px;
    top:0px;
}
div#montreal img {
    position: absolute;
    min-height: 250px;
    min-width: 150px;
}

div#night {
    left: 400px;
    top:0px;
}

div#night img {
    min-height: 250px;
    min-width: 150px;
}

div#israel {
    left: 400px;
    top:250px;
    height: 250px;
}

div#israel img {
    min-height: 250px;
    min-width: 150px;
}

