/* Everything happens in shell */
div#shell {
    position:relative;
/*    border: 1px solid #ccc;*/
}

/*The Index Thumb you clikck on to see a gallery. Includes the tag name*/

div#shell div.tag {
    border: 3px solid brown;
    display:inline-block;
}

/* The bounding box for the gallery overlay*/
div#shell div.gallery-overlay {
    background-color: #fff;
}

div#shell div.gallery-overlay div.yui-widget-hd {
    font-weight: bold;
    font-size: 250%;
}

div#shell div.gallery-overlay div.yui-widget-bd {
    overflow:auto;
}

/*image item*/
div#shell div.gallery div.thumb {
    width: 150px;
    height: 100px;
    overflow: hidden;
/*    border: 3px solid red;*/
    display: inline-block;
    vertical-align: top;
}

/*Gallery Index Thumbnails*/
/*gallery title*/
div#shell div h2{
    background-color: white;
    border: 1px solid yellow;
    position: absolute;
    z-index: 1;
}

/*gallery count*/
div#shell div h3{
    background-color: white;
    position: absolute;
    float:left;
    padding-top:0px;
    margin: 0;
    display: inline-block;
    z-index: 1;
}

/*Picture Title*/
div#shell div span {
    border: 1px solid blue;
    display: block;
    text-align: center;
}

div.index {
    float: left;
    height:100px;
    overflow: hidden;
    width: 133px;
}

/*Position the Index Pictures a bit more centered.*/
div.index img {
    width:133px;
    min-height: 100px;
    position: relative;
}

div#shell div.index span, /*We want to hide the picture title when its the gallery thumb*/
.hide {
    visibility: hidden !important;
    display: none !important;
}