/* Everything happens in shell */
div#shell {
    position:relative;
/*    border: 1px solid #ccc;*/
}

/*The Index Thumb you clikck on to see a gallery. Includes the tag name*/
div#shell div.tag {
    border: 3px solid brown;
    display:inline-block;
}

/* The bounding box for the gallery thumbs */
div#shell div.gallery-overlay {
    background-color: #fff;

    /* Why !important? we want to override the inline YUI style. 
     * this allows you to control position, for example. 
    */
    top: 100px !important;
    width: 99% !important;
}

div#shell div.gallery-overlay div.yui-widget-hd h1{
    display: inline;
    font-weight: bold;
    font-size: 250%;
    margin: 0;
    padding-right: 20px;
}

div#shell div.gallery-overlay div.yui-widget-ft div.overlay-close {
    left: 50%;
}

div#shell div.gallery-overlay div.yui-widget-hd div.overlay-close,
div#shell div.gallery-overlay div.yui-widget-ft div.overlay-close  {
    border: 1px solid grey;
    font-weight: bold;
    padding: 5px;
    position:absolute;
    top:0;
    text-transform:uppercase;
}

div#shell div.gallery-overlay div.yui-widget-hd div.overlay-close {
    display: inline;
    margin-bottom: 10px;
    position:static;
}

div#shell div.gallery-overlay div.yui-widget-bd {
    overflow:auto;
}

div#shell div.gallery-overlay div.yui-widget-ft {
    position: relative;
}

/*div#shell div.gallery-overlay div.yui-widget-ft div.overlay-close {

}
*/
/*image item*/
div#shell div.gallery div.thumb {
    width: 150px;
    height: 100px;
    overflow: hidden;
/*    border: 3px solid red;*/
    display: inline-block;
    vertical-align: top;
    position: relative;
}

/*Gallery Index Thumbnails*/
/*gallery title*/
div#shell div h2{
    background-color: white;
    border: 1px solid yellow;
    position: absolute;
    z-index: 1;
}

/*gallery count*/
div#shell div h3{
    background-color: white;
    position: absolute;
    float:left;
    padding-top:0px;
    margin: 0;
    display: inline-block;
    z-index: 1;
}

/*Picture Title in Thumb Gallery*/
div#shell div.thumb div.title {
    background-color: #fff;
    top:0;
    display: block;
    opacity: 0.8;
    right:0;
    position:absolute;
}

div.index {
    float: left;
    height:100px;
    overflow: hidden;
    width: 133px;
}

/*Position the Index Pictures a bit more centered.*/
div.index img {
    width:133px;
    min-height: 100px;
    position: relative;
}

div#shell div.index span, /*We want to hide the picture title when its the gallery thumb*/
.hide {
    visibility: hidden !important;
    display: none !important;
}