/* Everything happens in shell */
div#shell {
    position:relative;
}

/*The Index Thumb you click on to see a gallery. 
    Includes the tag name */
div#shell div.tag {
    border: 3px solid black;
    display:inline-block;
}

/* General: 
    This lets you hook into the Overlay for the Gallery Thumbs 
    Each Overlay will have this class.
*/
div.gallery-overlay {
    background-color: #fff;
    border: 1px solid grey;
    /* Why !important? we want to override the inline YUI style. 
     * this allows you to control position & sizing, without having to modify the JS. 
    */
    /*top: 50px !important;*/
    /*left: 50px !important;*/
    /*width: 500px !important;*/
}

/*
    Each div.gallery-overlay also has a unique ID, so you can customize based on tag name
    eg: overlay-lighthouse for the overlay for the lighthouse tag

*/
div#overlay-lighthouse.gallery-overlay {
    border: 5px solid black;
}

div#overlay-lighthouse.gallery-overlay div.yui3-widget-hd {
color: #ccc;
background-color: black;    
}


div#shell div.gallery-overlay div.yui3-widget-hd h1{
    display: inline;
    font-weight: bold;
    font-size: 250%;
    margin: 0;
/*    padding-right: 20px;*/
}

div.yui3-widget-ft div.overlay-close {
    left: 50%;
}

div.yui3-widget-hd div.overlay-close,
div.yui3-widget-ft div.overlay-close  {
    cursor:pointer;
    border: 1px solid grey;
    font-weight: bold;
    padding: 5px;
    position:absolute;
    top:0;
    text-transform:uppercase;
}

div.yui3-widget-hd div.overlay-close:hover,
div.yui3-widget-ft div.overlay-close:hover {
    background-color:#ccc;
}

div#shell div.gallery-overlay div.yui3-widget-hd div.overlay-close {
    display: inline;
    margin-bottom: 10px;
    position:static;
}

div#shell div.gallery-overlay div.yui3-widget-bd {
    overflow:auto;
}

div#shell div.gallery-overlay div.yui3-widget-ft {
    margin-top: 5px;
    min-height: 32px;
    position: relative;
}

/*image item*/
div#shell div.gallery div.thumb {
    width: 150px;
    height: 100px;
    overflow: hidden;
/*    border: 3px solid red;*/
    display: inline-block;
    vertical-align: top;
    position: relative;
}

/*Gallery Index Thumbnails*/
/*gallery title*/
div#shell div h2{
    cursor: pointer;
    background-color: white;
    border: 1px solid yellow;
    position: absolute;
    z-index: 1;
}

/*gallery count*/
div#shell div h3{
    background-color: white;
    position: absolute;
    float:left;
    padding-top:0px;
    margin: 0;
    display: inline-block;
    z-index: 1;
}

/*Picture Title in Thumb Gallery*/
div#shell div.thumb div.title {
    background-color: #fff;
    top:0;
    display: block;
    opacity: 0.8;
    right:0;
    position:absolute;
}

div.index {
    float: left;
    height:100px;
    overflow: hidden;
    width: 133px;
}

/*Position the Index Pictures a bit more centered.*/
div.index img {
    width:133px;
    min-height: 100px;
    position: relative;
}

div#shell div.index span, /*We want to hide the picture title when its the gallery thumb*/
.hide {
    visibility: hidden !important;
    display: none !important;
}